{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Edit Product: {{ product.product_name }}</h1>
    <form method="POST">
        <div class="form-group">
            <label for="stock_quantity">Stock Quantity</label>
            <input type="number" class="form-control" id="stock_quantity" name="stock_quantity" value="{{ product.stock_quantity }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
{% endblock %}
